body {
    font-family: var(--secondary-font-family);
}
.top-bar {
    background-color: var(--color-bg-blue-dark);
    color: var(--color-text-white);
}
.container-fluid{
    background-color: var(--color-bg-white);
}
.logo img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
nav{
    background-color: var(--color-bg-blue-light);
    overflow: hidden;
}
nav a{
    display: block;
    color: var(--color-text-ultra-gray-dark);
    text-align: center;
    text-decoration: none;
    
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;

}
nav a:hover{
    color: var(--color-text-gray-dark);
}
.menu-toggle{
    position: absolute;
    cursor: pointer;
    top: 238;
    left: 20;
}
.burger-menu, .burger-menu::before .burger-menu::after{
    content: "";
    display: block;
    background: var(--color-bg-white);
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out;
}
.burger-menu::before {
    transform: translateY(-6px);
  }
  
.burger-menu::after {
    transform: translateY(3px);
}
@media (min-width: 680px) {
  
    .menu-toggle{
      display: none;
    }
    
    .nav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      clip-path: initial;
    }
    
    .nav li {
      display: inline-block;
      border: none;
    }
    
    .nav a {
      padding: 0;
      margin-left: 3em;
    }
    
    .nav a:hover,
    .nav a:focus {
      background: transparent;
    }
    
   
  }