:root{
    /*Colores*/
    --color-bg-white: #FFFFFF;
    --color-bg-blue-dark: #2C7BC6;
    --color-bg-blue-light: #A3CCF4;
    --color-bg-orange: #FFC953;
    --color-bg-gray-light: #EDEEF5;
    --color-bg-gray-dark: #606060;
    --color-bg-ultra-gray-dark: #393434;
    --color-text-gray-dark: #747474;
    --color-text-blue-dark: #1D3143;
    --color-text-white: #FFFFFF;
    /*Uso General*/
    --color-warning: #f7bc06;
    --color-danger: #f2545b;
    /*Tipografía*/
    --main-font-family: 'Josefin Sans', sans-serif;
    --secondary-font-family: 'Josefin Sans', sans-serif;
}

/*Importando Tipografía*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');

body {
    background-color: var(--color-bg-gray-light);
    font-family: var(--secondary-font-family);
    line-height: 1.5;
    font-size: 18px;
}

img {
    display: block;
}

.top-bar {
    background-color: var(--color-bg-blue-dark);
    color: var(--color-text-white);  
}
.top-bar p{
    margin: 0;
}
.container-fluid{
    background-color: var(--color-bg-white);
}
.logo img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.bg-blue-light{
    background-color: var(--color-bg-blue-light);
}
.nav-link{
    display: block;
    color: var(--color-text-ultra-gray-dark);
    text-align: center;
    text-decoration: none;
}
.nav-item{
  margin-left: 10px;
  margin-right: 10px;
}
nav a:hover{
    color: var(--color-text-gray-dark);
}
.hero-image{
    background-image: url("../images/aade-2_orig.png");
    background-color: rgba(23, 75, 126, 38%);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-text{
    line-height: 1.1;
}
.hero-text h1{
    margin-bottom: 50px;
}
.button-hero{
    background-color: var(--color-bg-orange);
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 50px;
}
.performance-tooltip{
    position: relative;
}
.performance-tooltip span{
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    top: -100%;
    left: 0;
    color: white;
}
.our-motto{
    font-size: 25px;
}
.our-history-image-column{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.our-history-image-column img{
    width: 337px;
    height: 382px;
    object-fit: cover;
    object-position: center top;
    border-radius: 20px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 15%);
}

.communities-section {
    color: var(--color-text-blue-dark);
}

.image-dancer-peace {    
    max-width: 240px;
    max-height: 240px;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 15%);
}

.image-dancer-peace img {     
    position: relative;
    height: 100%;
    min-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width:992px) {
    .mr-lg-6{
        margin-right:6em !important;
    }

    .dancers-for-peace-section {
        padding: 5em 0 !important;
    }
    
    .image-dancer-peace {     
        max-width:450px;        
        max-height:450px;
    }
}

